body {
    margin: 0!important;
}
.page-section {
    width: 100%;
    height: 100vh;
    background-color: #173c4a;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pictures-girl {
    position: absolute;
    left: 10%;
    top: 24%;
}

.pictures-girl img {
    width: 300px;
}

.pictures-boy {
    position: absolute;
    right: 9%;
    top: 21%;
}

.pictures-boy img {
    width: 335px;
}


.light {
    position: absolute;
}

.light.light-1 {
    left: 5%;
}

.light.light-2 {
    left: 23%;
    top: -9%;
}

.light.light-3 {
    left: 69%;
}


.light.light-4 {
    left: 85%;
}


.plant img {
    width: 200px;
}

.plant-1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.plant-2 {
    right: 0;
    position: absolute;
    top: 0;
}

.plant-3 {
    right: 0;
    position: absolute;
    bottom: 0;
}

.plant-4 {
    left: 0;
    position: absolute;
    bottom: 0;
}

.title {
    margin: 50px 0 20px 0;
}

.title img {
    width: 360px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    color: #fff;
    z-index: 2;
}

.content h4 {
    font-size: 28px;
}

.content p {
    font-size: 18px;
    margin-bottom:8px;
}

p.box-text {
    color: #183c4a;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 20px;
}


.brands {
    display: flex;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    width: 400px;
    align-items: center;
}

hr.separator {
    border: 1px solid #999999;
    margin: 0 15px;
    height: 100% !important;
}

#countdown {
    display: flex;
    justify-content: center;
    width: 500px;
}

#countdown .number {
    margin: 0 15px;
    padding: 10px;
    text-align: center;
    width: 100px;
    position: relative;
}

#countdown p.colon {
    margin: 0 !important;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 23px;
    color: #0394ac;
    font-size: 45px;
    right: -25px;
}

#countdown .number span {
    font-family: 'Antipasto';
    letter-spacing: 7.2px;
    font-size: 64px;
    font-style: italic;
    border-bottom: 2px solid #0394ac;
 
}

@media (max-width: 991px) {
    .light {
        display: none;
    }

    .pictures {
        display: none;
    }
}

@media (max-width: 525px) {
    .content {
        padding-top:50px;
    }

    #countdown .number span {
        font-size:34px;
        width: 50px;
    }

    #countdown .number {
        margin: 0 5px;
        padding: 5px;
        width: 100px;
    }

     #countdown .number p {
         font-size:14px;
     }

    #countdown p.colon {
        right: -12px;
        font-size:25px;
    }

    #countdown {
        width: 100vw;
    }

    p.box-text {
        font-size: 16px;
    }

    .content h4 {
        text-align:center;
        font-size: 24px;
        margin-top:10px;
    }

    .brands {
        z-index: 2;
        width: 250px;
    }
}
